@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=DynaPuff:wght@400..700&display=swap');

* {
    font-family: Changa;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
}
.container {
    background-color: white;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    border: 3px solid salmon;
    border-radius: 10px;

    
}
h3 {
    background-color: salmon;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

button {
    margin: 20px;
}
h6 {
    width: fit-content;
    margin-bottom: 0;
    
    padding: 0 3px;
    /* border-radius: 10px; */
    background: linear-gradient(to right, rgb(250, 202, 114), white );
}